extends ../layouts/main

block content
  +b.page
    +e.wrapper(data-0='transform: translateX(0%)', data-1000='transform: translateX(-300%)')
      +b.section
        +e.content
          +e.title Animation One
          +e.text CSS Neumorphism Gradient Loader Animation Effects 
        +e.animation-wrapper
          +b.loader
            +e.SPAN.item
            +e.SPAN.item
            +e.SPAN.item
      +b.section
        +e.content
          +e.title Animation Two
          +e.text CSS Animation & Hover Effects
        +e.animation-wrapper
          +b.loader2
            +e.SPAN.item
            +e.SPAN.item
            +e.SPAN.item    
            +e.SPAN.item    
      +b.section
        +e.content
          +e.title Animation Three
          +e.text Direction Aware Button Ripple Effects Using CSS3 & Vanilla Javascript
        +e.animation-wrapper
          +b.button1
            +e.A(href='#').btn Button
            +e.A(href='#').btn Button
      +b.section
        +e.content
          +e.title Animation Four
          +e.text CSS Buttons Hover Effects | Html5 CSS3
        +e.animation-wrapper
          +b.button2
            +e.A(href='#').btn 
              +e.SPAN.btn-item Button
              +e.SPAN.btn-item Button
            +e.A(href='#').btn 
              +e.SPAN.btn-item Button
              +e.SPAN.btn-item Button
        